@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-list-decimal>li:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #fbbf24;
  margin-right: 10px;
}